{% extends "base.html" %}
{% block style %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/movies_styles.css') }}">
{% endblock %}
{% block title %}Movies{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p>{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}
<h2>Welcome to your account {{email}}</h2>
<br>
<h3>Search for a movie</h3>
<form action=# method="GET">
        <div class="form-inline">
        <input type="text" class="form-control" name="title" placeholder="Enter movie title"/>
        <input type="submit" class="btn btn-primary btn-lg" value="Submit"/>
    </div>
</form>
<br>
<div class="alert alert-success" role="alert" id="info" style="visibility:hidden">
    <p id="info_text">HELLO</p>
</div>
{% if movies %}
<table class="table table-striped"
>
    <tr>
        <th>Film name</th>
        <th>Released</th>
        <th>Tagline</th>
        <th>Rate if watched</th>
        <th>Delete from watched</th>
        <th>Add to watchlist</th>
        <th>Delete from watchlist</th>
    </tr>
    {% for movie in movies %}
    <tr>
        <td>{{movie['m.title']}}</td>
        <td>{{movie['m.released']}}</td>
        <td>{{movie['m.tagline']}}</td>
        {% set id_watched_name = movie['m.title'] + "_watched" %}
        {% set id_rate_name = movie['m.title'] + "_rate" %}
        <td class="td-controls">
              <select class="form-select" name="rates" id="{{id_rate_name}}">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
              </select>
            <button type="button" class="btn btn-primary table-btn" id="{{id_watched_name}}" onclick="server.add_to_watched('{{movie['m.title']}}')">Rate</button>
        </td>
        {% if movie['m.title'] in watched %}
            {% set id_unwatch_name = movie['m.title'] + "_unwatch" %}
            <td class="td-controls"><button type="button" class="btn btn-primary table-btn" id="{{id_unwatch_name}}" onclick="server.delete_from_watched('{{movie['m.title']}}')">Unwatch</button></td>
        {% else %}
            {% set id_unwatch_name = movie['m.title'] + "_unwatch" %}
            <td class="td-controls"><button type="button" class="btn btn-primary table-btn" disabled id="{{id_unwatch_name}}" onclick="server.delete_from_watched('{{movie['m.title']}}')">Unwatch</button></td>
        {% endif %}

        {% if movie['m.title'] in want_to_watch %}
            {% set id_unwant_name = movie['m.title'] + "_unwant" %}
            {% set id_want_name = movie['m.title'] + "_want" %}
            <td class="td-controls"><button type="button" class="btn btn-primary" disabled id="{{id_want_name}}" onclick="server.add_to_want_to_watch('{{movie['m.title']}}', '{{id_unwant_name}}', '{{id_want_name}}')">Add to watchlist</button></td>
            <td class="td-controls"><button type="button" class="btn btn-primary" id="{{id_unwant_name}}" onclick="server.delete_from_want_to_watch('{{movie['m.title']}}','{{id_unwant_name}}', '{{id_want_name}}')">Delete from watchlist</button></td>
        {% else %}
            {% set id_unwant_name = movie['m.title'] + "_unwant" %}
            {% set id_want_name = movie['m.title'] + "_want" %}
            <td class="td-controls"><button type="button" class="btn btn-primary" id="{{id_want_name}}" onclick="server.add_to_want_to_watch('{{movie['m.title']}}', '{{id_unwant_name}}', '{{id_want_name}}')">Add to watchlist</button></td>
            <td class="td-controls"><button type="button" class="btn btn-primary" disabled id="{{id_unwant_name}}" onclick="server.delete_from_want_to_watch('{{movie['m.title']}}', '{{id_unwant_name}}', '{{id_want_name}}')">Delete from watchlist</button></td>

        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}