{% extends "base.html" %}
{% block style %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/movies_styles.css') }}">
{% endblock %}
{% block title %}Movies{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p>{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}
<h2>Account of {{email}}</h2>
<br>
<h3>Movies you may like based on what people with taste similar to yours watch</h3>

<div class="alert alert-success" role="alert" id="info" style="visibility:hidden">
    <p id="info_text"></p>
</div>
{% if movies %}
<table class="table table-striped"
>
    <tr>
        <th class="td-controls">Film name</th>
        <th class="td-controls">Released</th>
        <th class="td-controls">Tagline</th>
        <th class="td-controls">Your rate</th>
        <th class="td-controls">Rate if watched</th>
        <th class="td-controls">Delete from watched</th>
        <th class="td-controls">Add to watchlist</th>
        <th class="td-controls">Delete from watchlist</th>
    </tr>
    {% for movie in movies %}
    <tr>
        <td class="td-controls">{{movie['m.title']}}</td>
        <td class="td-controls">{{movie['m.released']}}</td>
        <td class="td-controls">{{movie['m.tagline']}}</td>
        {% set id_rated_name = movie['m.title'] + "_rated" %}
        <td id="{{id_rated_name}}" class="td-controls"><b>-</b></td>
        {% set id_watched_name = movie['m.title'] + "_watched" %}
        {% set id_unwatch_name = movie['m.title'] + "_unwatch" %}
        {% set id_rate_name = movie['m.title'] + "_rate" %}
        <td class="td-controls">
              <select class="form-select" name="rates" id="{{id_rate_name}}">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
              </select>
            <button type="button" class="btn btn-primary table-btn" id="{{id_watched_name}}" onclick="server.add_to_watched('{{movie['m.title']}}')">Rate</button>
        </td>
        <td class="td-controls"><button type="button" class="btn btn-primary table-btn" disabled id="{{id_unwatch_name}}" onclick="server.delete_from_watched('{{movie['m.title']}}')">Unwatch</button></td>

        {% if movie['m.title'] in want_to_watch %}
            {% set id_unwant_name = movie['m.title'] + "_unwant" %}
            {% set id_want_name = movie['m.title'] + "_want" %}
            <td class="td-controls"><button type="button" class="btn btn-primary" disabled id="{{id_want_name}}" onclick="server.add_to_want_to_watch('{{movie['m.title']}}', '{{id_unwant_name}}', '{{id_want_name}}')">Add to watchlist</button></td>
            <td class="td-controls"><button type="button" class="btn btn-primary" id="{{id_unwant_name}}" onclick="server.delete_from_want_to_watch('{{movie['m.title']}}','{{id_unwant_name}}', '{{id_want_name}}')">Delete from watchlist</button></td>
        {% else %}
            {% set id_unwant_name = movie['m.title'] + "_unwant" %}
            {% set id_want_name = movie['m.title'] + "_want" %}
            <td class="td-controls"><button type="button" class="btn btn-primary" id="{{id_want_name}}" onclick="server.add_to_want_to_watch('{{movie['m.title']}}', '{{id_unwant_name}}', '{{id_want_name}}')">Add to watchlist</button></td>
            <td class="td-controls"><button type="button" class="btn btn-primary" disabled id="{{id_unwant_name}}" onclick="server.delete_from_want_to_watch('{{movie['m.title']}}', '{{id_unwant_name}}', '{{id_want_name}}')">Delete from watchlist</button></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
<h4>Oops, looks like you need to rate some more movies to see recommendations</h4>
{% endif %}

{% endblock %}