{% extends "base.html" %}
{% block title %}Watched Movies{% endblock %}
{% block style %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/movies_styles.css') }}">
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p>{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}
<h2>Account of {{email}}</h2>
<h3>All your watched movies in one place!</h3>
{% if movies %}
<table class="table table-striped"
>
    <tr>
        <th  class="td-controls" >Film name</th>
        <th class="td-controls">Released</th>
        <th class="td-controls">Tagline</th>
        <th class="td-controls">Your rate</th>
    </tr>
    {% for movie in movies %}
    <tr>
        <td class="td-controls"><a href="/related?title={{movie['m.title']}}">{{movie['m.title']}}</a></td>
        <td class="td-controls">{{movie['m.released']}}</td>
        <td class="td-controls">{{movie['m.tagline']}}</td>
        <td class="td-controls">{{movie['r.rate']}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}