{% extends "base.html" %}
{% block title %}Movies{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p>{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}
<h2>Account of {{email}}</h2>
<h3>All the movies you want to watch in one place!</h3>
{% if movies %}
<table class="table table-striped"
>
    <tr>
        <th class="td-controls">Film name</th>
        <th class="td-controls">Released</th>
        <th class="td-controls">Tagline</th>
    </tr>
    {% for movie in movies %}
    <tr>
        <td class="td-controls"><a href="/related?title={{movie['m.title']}}">{{movie['m.title']}}</a></td>
        <td class="td-controls">{{movie['m.released']}}</td>
        <td class="td-controls">{{movie['m.tagline']}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}